<!DOCTYPE html>
<html>
<head>
    <title>Atribuir Medicamento</title>
</head>
<body>
    <h1>Atribuir Medicamento para {{ paciente['nome'] }}</h1>
    <form method="POST">
        <label for="medicamento_id">Selecionar Medicamento:</label>
        <select id="medicamento_id" name="medicamento_id" required>
            {% for medicamento in medicamentos %}
                <option value="{{ medicamento['id'] }}">{{ medicamento['nome'] }}</option>
            {% endfor %}
        </select><br>
        <button type="submit">Atribuir Medicamento</button>
    </form>
    <a href="/listar_pacientes">Voltar para a lista de pacientes</a>
</body>
</html>
