<!DOCTYPE html>
<html>
<head>
    <title>Página Inicial</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css"> <!-- Vincule o arquivo CSS -->
</head>
<body>
    <h1>Página Inicial</h1>
    <ul>
        <li><a href="/cadastrar_paciente">Cadastrar Paciente</a></li>
        <li><a href="/cadastrar_medicamento">Cadastrar Medicamento</a></li>
        <li><a href="/listar_pacientes">Listar Pacientes</a></li>
        <li><a href="/cadastrar_enfermidade">Cadastrar Enfermidade</a></li>
        <li><a href="/listar_enfermidades">Listar Enfermidades</a></li>
        <li><a href="/listar_medicamentos">Listar Medicamentos</a></li> <!-- Adicione esta linha -->
    </ul>
</body>
</html>
